.forecast-view {
  padding-inline: 3rem;
}
.forecast-location {
  padding-block: 1rem;
  font-size: 1.5rem;
  span {
    font-weight: 700;
  }
}
.forecast-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
}
.forecast-node {
  padding: 1rem;
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0em 0px;
  grid-template-areas:
    "."
    "."
    ".";
  border: 1px solid white;
}

.node-weather-desc {
  font-weight: 700;
}
